<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
<div th:replace="common/header :: navbar"/>
<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="row">
            
            <div class="col-xs-2">
                <a th:href="@{/}"><img src="/image/logo.png" class="img-responsive"/></a>
            </div>
        </div>
        <hr style="position: absolute; width:100%; height:6px; background-color: #333; z-index: -1; margin-top: -80px;"/>
        
    </div>
    <div class="row" style="margin-top: 120px;">
        <div class="col-xs-9 col-xs-offset-3">
            <h3>Shopping</h3>
            <hr/>
            <h4 class="question">Q: How do I place an order?</h4>
            <p>A:&nbsp;First you need to set up an account, once that is created you are ready to place an order.</p>
            <h4 class="question">Q: How do I set up an account?&nbsp;</h4>
            <p>A: Click on the login button in the upper right hand corner of the main page and then click on create an
                account.</p>
            
            
           
           

            <h3>General Queries&nbsp;</h3>
            <hr />
            <p>Yohooooo!!!! Nerdy, Enjoy Reading </p>
            <h4 class="question">Q: How do you I order book?</h4>
            <p>A: Click on book you selected and then click on add cart</p>
            <h4 class="question">Q. What is your shipping method?</h4>
            <p>A: We are thinking to use 3rd party api in future for shipping .
            </p>
            
        </div>
    </div>
</div>
<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>